.upload {
    flex: 1 0 auto;
    padding: 20px;
}
.upload .subtitle {
    display: flex;
    align-items: flex-start;
}
.upload .subtitle h2 {
    background-color: #fff;
    color: #000;
    padding: 15px;
    box-shadow: 10px 10px 0px #D65353;
    border-radius: 15px;
    font-weight: 400;
}
.upload .upload-form {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}